<header>
  <div class="container">
    <a href="/" class="logo"><i class="fas fa-heartbeat"></i><span>  W</span>EB<span>D</span>ASS</a>

    <nav class="nav">
      <ul>
        <li>
        <%= link_to root_path do %>
          Home
        <% end %>
        </li>
        <li><a href="#announcements">Announcements</a></li>
        <li><a href="#about">About</a></li>
        <% if user_signed_in? %>
          <li>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Sign Up', new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </nav>

    <div class="fas fa-bars"></div>
  </div>
</header>
